body {
    background-color: #041821;
}

section {
  font-family: "Yeseva One", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  margin-top: 3%;
}

#Titre1{
    color: white;
    margin: 0px;
    width: 80vw;
    margin: auto;
}

#Titre2{
    color : rgb(23,213,154);
    margin: 0px;
    width: 80vw;
    margin: auto;
}

#texte1{
    color: grey;
    font-size: 18px;
    width: 80vw;
    margin: auto;
    margin-top: 2%;
    padding: 4px;
}

#points{
    color : rgb(23,213,154);
}

        
.grid-container {
    display: grid;
}

.container{
    display: flex;
}

.grid-item {
    text-align: center;
}


#div1 {
    padding-left: 12px;
    margin: 0;
    width: 50%;
  }

header div p{
    color: white;
    font-family: "Yeseva One", sans-serif;
    font-size: 25px;
}
  
  #div2 {
    padding: 8px;
    text-align: right;
    width: 50%;
    margin-top: auto ;
    margin-bottom: auto;
  }

  #div2 i {
    margin-left: 25px;
    color: white;
    
  }



/* Grille avec 4 colonnes sur les écrans larges (≥1080px) */
@media(min-width: 1025px) {
    .grid-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* Grille avec 5 colonnes sur tablette */
@media(min-width: 768px) and (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(5, 1fr);
    }
}

/* Grille avec 3 colonnes sur mobile */
@media(max-width: 767px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .container{
        display: block;
    }

    #div1{
        width: 100%;
        text-align: center;
        margin: 0%;
    }

    #div2{
        width: 100%;
        text-align: center;
        margin: 0%;
        padding: 0%;
    }
}
